extends layout

block content
    // Main jumbotron for a primary marketing message or call to action
    div.jumbotron
        div.container
            h1= title
            p.
                This web app was created with Node, Express, Jade, Twitter Bootstrap and MongoDB.

            p.
                This a not just a simple Hello World! app. This web application is built using Express, which is a web application framework for Node.  Jade is a template engine for Node that simplifies the amount of HTML syntax.  Bootstrap is a front-end framework used as a responsive website. MongoDB is an open-source document database.

            p.
                You can access the database using the userlist and newuser call.

            p.
                Enjoy!
 
            p
                a.btn.btn-lg.btn-primary(href='/helloworld' role='button') Hello World! »
    div.container.marketing
        div.row.featurette
            div.col-md-7
                h2.featurette-heading Lorem ipsum dolor sit amet
                span.text-muted prompta equidem sensibus vis no.
                p.lead 
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Mucius mediocritatem te est, accumsan offendit salutandi pro ea. Et malis delicatissimi mea, luptatum efficiantur in pro, at quo simul possim referrentur. Mei ad senserit voluptaria vituperata, vis melius dignissim in. Tation epicurei maiestatis no mea. Admodum apeirian ei sed, nullam nostro oblique has eu, accusamus salutatus urbanitas ius ad.
            div.col-md-5
                img.featurette-image.img-responsive(src='images/download.png')

        hr.featurette-divider

        div.row.featurette
            div.col-md-5: img.featurette-image.img-responsive(src='images/download.png')            
            div.col-md-7
                h2.featurette-heading Lorem ipsum dolor sit amet
                span.text-muted prompta equidem sensibus vis no.
                p.lead 
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Mucius mediocritatem te est, accumsan offendit salutandi pro ea. Et malis delicatissimi mea, luptatum efficiantur in pro, at quo simul possim referrentur. Mei ad senserit voluptaria vituperata, vis melius dignissim in. Tation epicurei maiestatis no mea. Admodum apeirian ei sed, nullam nostro oblique has eu, accusamus salutatus urbanitas ius ad.

        hr.featurette-divider

