//jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://code.jquery.com/jquery.js')
//Include all compiled plugins (below), or include individual files as needed
script(src='/bootstrap/js/bootstrap.min.js')