div#footer
    div.container
        div.row
            div.col-md-2
                p.
                    © 2013 Company, Inc.
            div.col-md-1
                a(href="#") Privacy
            div.col-md-1
                a(href="#") Terms
            p.pull-right
                a(href="#") Back to top
         

